# Python: Data manipulation in pandas

**Goal**: transform, normalize and rework columns!

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Transform-a-column" data-toc-modified-id="Transform-a-column-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Transform a column</a></span></li><li><span><a href="#Mathematical-operations-between-columns" data-toc-modified-id="Mathematical-operations-between-columns-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Mathematical operations between columns</a></span></li><li><span><a href="#Create-a-nutritional-index" data-toc-modified-id="Create-a-nutritional-index-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Create a nutritional index</a></span></li><li><span><a href="#Normalize-columns" data-toc-modified-id="Normalize-columns-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Normalize columns</a></span></li><li><span><a href="#Create-new-column" data-toc-modified-id="Create-new-column-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Create new column</a></span><ul class="toc-item"><li><span><a href="#Training" data-toc-modified-id="Training-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Training</a></span></li></ul></li><li><span><a href="#Create-a-normalized-nutritional-index" data-toc-modified-id="Create-a-normalized-nutritional-index-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Create a normalized nutritional index</a></span></li><li><span><a href="#Sort-a-dataframe" data-toc-modified-id="Sort-a-dataframe-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Sort a dataframe</a></span><ul class="toc-item"><li><span><a href="#Training" data-toc-modified-id="Training-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Training</a></span></li></ul></li></ul></div>

## Introduction

In this chapter, we will see how to ``manipulate`` a ``dataframe`` and do ``transformations`` with ``Pandas``. We will work with the same dataset on the nutritional information of some foods ``(food_infos)`` and we will build a ``nutritional indicator`` for people who want to eat high protein and low fat foods. We will therefore be interested in two columns namely the ``Lipid_Tot_(g)`` column which contains the fat content in grams and the ``Protein_(g)`` column containing the protein content in grams.

In [1]:
import pandas as pd

In [2]:
food_infos = pd.read_csv("food_infos.csv")
food_infos.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0

In [3]:
food_infos.shape

(8618, 36)

In [4]:
column_names = food_infos.columns.to_list()
print(column_names)

['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)', 'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)', 'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)', 'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)', 'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)', 'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)', 'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg', 'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)', 'Cholestrl_(mg)']

To display a concise ``summary`` of our ``dataframe``, we can use the ``info()`` method. This method prints ``information`` about a ``dataFrame`` including the ``index dtype`` and ``columns``, ``non-null values`` and ``memory usage``.

In [5]:
food_infos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8618 entries, 0 to 8617
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NDB_No           8618 non-null   int64
 1   Shrt_Desc        8618 non-null   object
 2   Water_(g)        8612 non-null   float64
 3   Energ_Kcal       8618 non-null   int64
 4   Protein_(g)      8618 non-null   float64
 5   Lipid_Tot_(g)    8618 non-null   float64
 6   Ash_(g)          8286 non-null   float64
 7   Carbohydrt_(g)   8618 non-null   float64
 8   Fiber_TD_(g)     7962 non-null   float64
 9   Sugar_Tot_(g)    6679 non-null   float64
 10  Calcium_(mg)     8264 non-null   float64
 11  Iron_(mg)        8471 non-null   float64
 12  Magnesium_(mg)   7936 non-null   float64
 13  Phosphorus_(mg)  8046 non-null   float64
 14  Potassium_(mg)   8208 non-null   float64
 15  Sodium_(mg)      8535 non-null   float64
 16  Zinc_(mg)        7917 non-null   float64
 17  Copper_(mg)      7363 non-null   float64
 18  Manganese_(mg)   6478 non-null   float64
 19  Selenium_(mcg)   6868 non-null   float64
 20  Vit_C_(mg)       7826 non-null   float64
 21  Thiamin_(mg)     7939 non-null   float64
 22  Riboflavin_(mg)  7961 non-null   float64
 23  Niacin_(mg)      7937 non-null   float64
 24  Vit_B6_(mg)      7677 non-null   float64
 25  Vit_B12_(mcg)    7427 non-null   float64
 26  Vit_A_IU         7932 non-null   float64
 27  Vit_A_RAE        7089 non-null   float64
 28  Vit_E_(mg)       5613 non-null   float64
 29  Vit_D_mcg        5319 non-null   float64
 30  Vit_D_IU         5320 non-null   float64
 31  Vit_K_(mcg)      4969 non-null   float64
 32  FA_Sat_(g)       8274 non-null   float64
 33  FA_Mono_(g)      7947 non-null   float64
 34  FA_Poly_(g)      7954 non-null   float64
 35  Cholestrl_(mg)   8250 non-null   float64
dtypes: float64(33), int64(2), object(1)
memory usage: 2.4+ MB

## Transform a column

In this section, we will see how to ``transform`` a numerical column using ``mathematical operators``. Thus, we will try to answer the following questions:

* divide the column "Sodium_(mg)" by 1000 to convert to grams and assign the result to the variable sodium_grams
* multiply the "Sugar_Tot(g)" column by 1000 to convert to milligrams and assign the result to the variable sugar_milligrams

In [6]:
sodium_grams = food_infos["Sodium_(mg)"] / 1000
sodium_grams

0       0.643
1       0.659
2       0.002
3       1.146
4       0.560
        ...
8613    4.450
8614    0.667
8615    0.058
8616    0.070
8617    0.068
Name: Sodium_(mg), Length: 8618, dtype: float64

In [7]:
sugar_milligrams = food_infos["Sugar_Tot_(g)"] * 1000
sugar_milligrams

0          60.0
1          60.0
2           0.0
3         500.0
4         510.0
         ...
8613        0.0
8614        0.0
8615    73200.0
8616        0.0
8617        0.0
Name: Sugar_Tot_(g), Length: 8618, dtype: float64

## Mathematical operations between columns

In this section, we will see how to ``transform`` a numerical column using other columns by ``mathematical operators``. Thus, we will try to answer the following questions:

* divide the "Protein(g)" column by the "Water(g)" column and assign the result to the variable grams_of_protein_per_gram_of_water 
* add the columns "Calcium(mg)" and "Iron(mg)" and assign the result to the variable milligrams_of_calcium_and_iron
* display the results

In [8]:
grams_of_protein_per_gram_of_water = food_infos["Protein_(g)"] / food_infos["Water_(g)"]
grams_of_protein_per_gram_of_water

0       0.053560
1       0.053560
2       1.166667
3       0.504598
4       0.565313
          ...
8613    0.430233
8614    0.292384
8615    0.000000
8616    0.203283
8617    0.252229
Length: 8618, dtype: float64

In [9]:
milligrams_of_calcium_and_iron = food_infos["Calcium_(mg)"] + food_infos["Iron_(mg)"]
milligrams_of_calcium_and_iron

0        24.02
1        24.16
2         4.00
3       528.31
4       674.43
         ...
8613     67.40
8614     10.58
8615     16.60
8616     13.50
8617    119.40
Length: 8618, dtype: float64

## Create a nutritional index

In this section, we will try to create the nutritional indicator described above by answering the following questions:

* multiply the column "Protein_(g)" by 2 and assign the result to the variable protein
* multiply the "LipidTot(g)" column by -0.75 and assign the result to the variable fat
* add the variables together and assign the result to the variable rating
* display the result

We use the following ``formula`` to calculate this ``indicator``: <strong>nutritional_indicator = 2 * Protein_(g) - 0.75 * Lipid_Tot_(g)</strong>.

In [10]:
protein = food_infos["Protein_(g)"] * 2
fat = food_infos["Lipid_Tot_(g)"] * (-0.75)
rating = protein + fat

In [11]:
print(rating)

0      -59.1325
1      -59.1325
2      -74.0500
3       21.2450
4       24.2200
         ...
8613    18.1750
8614    40.4500
8615     0.0000
8616    31.1500
8617    39.2250
Length: 8618, dtype: float64

## Normalize columns

In this section, we will see how to <span class="girk">normalize</span> a column, i.e. adjust its values so that it is <span class="girk">comparable</span> to other columns. In our dataset, we have seen that our columns have different units (g, mg, etc), which makes the range of values different from one column to another. This sometimes makes one column have a <span class="girk">huge effect</span> in a dataset because of the range (min and max) of these values. A common way to <span class="girk">normalize</span> a series of values is to divide each value in the series by the maximum value in the series. In this way, all values in the series will be between 0 and 1. To calculate the <span class="girk">maximum</span> and <span class="girk">minimum</span> of a series, we apply the ``max()`` and ``min()`` methods respectively. Let's look at the following examples.

In [12]:
# Max value of the Energ_Kcal column
max_calories = food_infos["Energ_Kcal"].max()
max_calories

902

In [13]:
# Min value of the Energ_Kcal column
min_calories = food_infos["Energ_Kcal"].min()
min_calories

0

In [14]:
# Normalized series of the Energ_Kcal column
normalized_calories = food_infos["Energ_Kcal"] / max_calories
normalized_calories

0       0.794900
1       0.794900
2       0.971175
3       0.391353
4       0.411308
          ...
8613    0.338137
8614    0.123060
8615    0.298226
8616    0.099778
8617    0.098670
Name: Energ_Kcal, Length: 8618, dtype: float64

## Create new column

In this section, we will see how to <span class="girk">create</span> a new column in a pandas dataframe.

In [15]:
# example
iron_grams = food_infos["Iron_(mg)"] / 1000
food_infos["Iron_(g)"] = iron_grams
food_infos.head(3)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Iron_(g)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0,0.00002
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0,0.00016
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0,0.00000

### Training

In this practice, we will try to answer the following questions:

* assign the normalized column represented by the variable normalized_protein to the new column named "Normalized_Protein" in the dataframe food_info
* assign the normalized column represented by the variable normalized_fat to the new column named "Normalized_Fat" in the dataframe food_info
* display the first 5 values of the food_info dataframe

In [16]:
normalized_protein = food_infos["Protein_(g)"] / food_infos["Protein_(g)"].max()
food_infos["Normalized_Protein"] = normalized_protein

normalized_fat = food_infos["Lipid_Tot_(g)"] / food_infos["Lipid_Tot_(g)"].max()
food_infos["Normalized_Fat"] = normalized_fat

In [17]:
food_infos.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Iron_(g),Normalized_Protein,Normalized_Fat
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,1.5,60.0,7.0,51.368,21.021,3.043,215.0,0.00002,0.009624,0.8111
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,1.5,60.0,7.0,50.489,23.426,3.012,219.0,0.00016,0.009624,0.8111
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,1.8,73.0,8.6,61.924,28.732,3.694,256.0,0.00000,0.003170,0.9948
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,0.5,21.0,2.4,18.669,7.778,0.800,75.0,0.00031,0.242301,0.2874
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,0.5,22.0,2.5,18.764,8.598,0.784,94.0,0.00043,0.263134,0.2968

## Create a normalized nutritional index

In this section, we will calculate the normalized nutrient index in a similar way to that calculated above using the following formula: <strong>normalized_nutritional_indicator = 2 * normalized_Protein_(g) - 0.75 * normalized_Lipid_Tot_(g)</strong>. We will name this column ``Norm_Nutr_Index``.

In [18]:
food_infos["Norm_Nutr_Index"] = (2 * food_infos["Normalized_Protein"]) - (0.75 * food_infos["Normalized_Fat"])
food_infos.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Iron_(g),Normalized_Protein,Normalized_Fat,Norm_Nutr_Index
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,60.0,7.0,51.368,21.021,3.043,215.0,0.00002,0.009624,0.8111,-0.589077
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,60.0,7.0,50.489,23.426,3.012,219.0,0.00016,0.009624,0.8111,-0.589077
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,73.0,8.6,61.924,28.732,3.694,256.0,0.00000,0.003170,0.9948,-0.739759
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,21.0,2.4,18.669,7.778,0.800,75.0,0.00031,0.242301,0.2874,0.269051
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,22.0,2.5,18.764,8.598,0.784,94.0,0.00043,0.263134,0.2968,0.303668

## Sort a dataframe

In this section, we will see how to <span class="girk">sort</span> a dataframe by column.

In [19]:
food_infos.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Iron_(g),Normalized_Protein,Normalized_Fat,Norm_Nutr_Index
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,60.0,7.0,51.368,21.021,3.043,215.0,0.00002,0.009624,0.8111,-0.589077
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,60.0,7.0,50.489,23.426,3.012,219.0,0.00016,0.009624,0.8111,-0.589077
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,73.0,8.6,61.924,28.732,3.694,256.0,0.00000,0.003170,0.9948,-0.739759
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,21.0,2.4,18.669,7.778,0.800,75.0,0.00031,0.242301,0.2874,0.269051
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,22.0,2.5,18.764,8.598,0.784,94.0,0.00043,0.263134,0.2968,0.303668

In our food_infos dataset, we can see that it is sorted according to the ``NDB_No`` column which is a unique identifier for each element. In a more informative way, we can see which foods have the <span class="mark">highest nutritional index</span> by sorting in descending order according to the ``Norm_Nutr_Index`` variable. The method that is commonly used to sort a dataframe is the ``sort_values()`` function by the values along either axis. You can see its documentation from the following <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html">link</a>.

In [20]:
# example with Water_(g) colomn
food_infos.sort_values("Water_(g)").head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Iron_(g),Normalized_Protein,Normalized_Fat,Norm_Nutr_Index
676,4544,SHORTENING HOUSEHOLD LARD&VEG OIL,0.0,900,0.0,100.0,0.0,0.0,0.0,0.0,...,0.0,21.5,40.3,44.4,10.9,56.0,0.0,0.0,1.0,-0.75
664,4520,FAT MUTTON TALLOW,0.0,902,0.0,100.0,0.0,0.0,0.0,0.0,...,28.0,0.0,47.3,40.6,7.8,102.0,0.0,0.0,1.0,-0.75
665,4528,OIL WALNUT,0.0,884,0.0,100.0,0.0,0.0,0.0,0.0,...,0.0,15.0,9.1,22.8,63.3,0.0,0.0,0.0,1.0,-0.75
666,4529,OIL ALMOND,0.0,884,0.0,100.0,0.0,0.0,0.0,0.0,...,0.0,7.0,8.2,69.9,17.4,0.0,0.0,0.0,1.0,-0.75
667,4530,OIL APRICOT KERNEL,0.0,884,0.0,100.0,0.0,0.0,0.0,0.0,...,NaN,NaN,6.3,60.0,29.3,0.0,0.0,0.0,1.0,-0.75

We can see that the values have been sorted in ascending order.

### Training

In this practice, we will try to answer the following questions:

* replace the food_infos dataframe by sorting by the Norm_Nutr_Index column in descending order (from largest to smallest)

In [21]:
food_infos.sort_values("Norm_Nutr_Index", ascending=False, inplace=True)

In [22]:
food_infos.head(3)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Iron_(g),Normalized_Protein,Normalized_Fat,Norm_Nutr_Index
4991,16423,SOY PROT ISOLATE K TYPE CRUDE PROT BASIS,4.98,321,88.32,0.53,3.58,2.59,2.0,0.0,...,0.0,0.0,0.066,0.101,0.258,0.0,0.01450,1.000000,0.0053,1.996025
6155,19177,GELATINS DRY PDR UNSWTND,13.00,335,85.60,0.10,1.30,0.00,0.0,0.0,...,0.0,0.0,0.070,0.060,0.010,0.0,0.00111,0.969203,0.0010,1.937656
216,1258,EGG WHITE DRIED STABILIZED GLUCOSE RED,6.53,362,84.63,0.48,3.63,4.72,0.0,0.0,...,0.0,0.0,0.147,0.173,0.070,20.0,0.00023,0.958220,0.0048,1.912840